.projects
  - PROJECTS.each do |project|
    .project{ id: project.anchor, style: "background-image: url(#{image_url project.image})", tabindex: 0 }
      .info
        .section.header
          .name= project.name
          .links
            = link_to project.link, target: :_blank do
              = icon('external-link-square')
            = link_to project.github, target: :_blank do
              = icon('github')
        .section= project.tech.join(' | ')
        .section= simple_format project.description
        .section.move
          = link_to "##{project.next}", class: :next do
            = icon('caret-down')
          = link_to "##{project.prev}", class: :prev do
            = icon('caret-up')
