.projects
  - PROJECTS.each do |project|
    .project{ id: project.anchor, style: "background-image: url(#{image_url project.image})", tabindex: 0 }
      .header
        .name= project.name
        .links
          = link_to project.link, target: :_blank do
            = icon('fas', 'external-link-square-alt')
          - if project.github.present?
            = link_to project.github, target: :_blank do
              = icon('fab', 'github')
      .info
        .section.tech= project.tech.join(' | ')
        .section.description= project.description
      .footer
        = switch_project_tag(project.next, :next)
        = switch_project_tag(project.prev, :prev)
