%header{ role: 'banner' }
  .left
    .name= t('header.name')
    .links
      = link_to projects_path do
        = icon('briefcase')
      = link_to games_path do
        = icon('gamepad')
      = link_to travels_path do
        = icon('globe')
      = link_to t('header.github_url'), target: '_blank' do
        = icon('github')
      = link_to t('header.linkedin_url'), target: '_blank' do
        = icon('linkedin-square')
      %a{ href: "mailto:#{t('header.email')}" }
        = icon('envelope')
  .center
    .avatar= image_tag 'avatar.jpg', alt: t('header.name')
  .right
    .title= @title
