!!!
%html
  %head
    %title= t('meta.title')
    %meta{ name: :description, content: t('meta.description') }
    %meta{ name: :keywords, content: t('meta.keywords') }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1' }
    = javascript_include_tag '//maps.google.com/maps/api/js?v=3&sensor=false'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    = yield
